.about{
	font-size: 50px;
	margin-left: 30px;
}
.about2{
	font-size: 20px;
	margin-left: 30px;
	margin-top: -40px;
}
/*tools*/
.profile{
	margin-left: 1000px;
	margin-top: -340px;
}
/*tools*/
.links{
	font-size: 25px;
	margin-left: 30px;
}

